body{
    background-color: #0143f9
    
    
     
    
}


p{
  
   text align:
    center;
     border: yellow 16px
    solid;
    padding:35px;
    margin-left: 35px
    
}
img(
float:right
)

.fortnite(
float: left;
width: 300px
position: relative
left: 90px
)

.rainbow{
/* float: right: */    
}


